 @import url('http://fonts.googleapis.com/css?family=Indie+Flower');
 /*@import url('http://fonts.googleapis.com/css?family=Quicksand'); */


body {
  /* font-family: Palatino, serif; */
  font-family:  'Optima';
  max-width: 768px;
  width: auto;
  margin: 0 auto;
  background-color: inherit;;
  font-size: 18px;
}



body img {
  margin: 0 auto;
  display: block;
  max-width: 90%;
  max-height: 90%;
}

header {
  font-family:  'Optima', sans-serif;
  background-color: inherit;
  color: inherit;
  overflow: auto;
  font-size: 20px;
}

h3 {
  font-family:  'Indie Flower', sans-serif;
  font-style: ;
  background-color: inherit;
  color: inherit;
  overflow: auto;
  font-size: 24px;
}

h4 {
  font-family:  'Indie Flower', sans-serif;
  background-color: inherit;
  color: inherit;
  overflow: auto;
  font-size: 20px;
}

.site-title {
  font-family:  'Indie Flower', sans-serif;
  float:left;
  font-size: 4rem;
  font-weight: bold;
}

header a {
  color: inherit;
}

header nav {
  float: right;
}

header nav ul li {
    list-style: none;
    display: inline;
}

.post-list {
  font-family:  'Indie Flower', sans-serif;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.post-list li:after {
    content: "";
    display: block;
    height: 1px;
    width: 60%;
    margin: 10px;
    background: #666;
}

.post-list span {
  color: #666;
  font-style: italic;
}
