---
layout: default
---
<div class="row align-items-center mt-3 mb-4 ">
    <div class="col-md">
        <img class="img-fluid d-block mx-auto" alt="Sharmila Duppala" title="Sharmila Duppala" src="/assets/sharmila_board.jpeg" width="220"
            height="100">
        </div>
        <address class="col-md ">
            <strong>PhD Student</strong>
            <br>
            <strong>University of Maryland, College Park</strong>
            <br>
            <br>
                sduppala [at] umd.edu
                <br>
                sduppala [at] cs.umd.edu 
            </a>
            <br>
            <br>
            <p style="color:red;">
    
    </div>
    I am a Ph.D. Candidate in the  <a href="https://www.cs.umd.edu">
    Computer Science </a> department  at the University of Maryland, College Park, where I am fortunate to be co-advised by professors  <a href="https://www.cs.umd.edu/~srin/">Aravind Srinivasan</a> and <a href="http://jpdickerson.com/">John P. Dickerson</a>. Prior to that, I was a Graduate Research Assistant at the <a href="https://www.cs.stonybrook.edu/"> Computer Science </a> department in Stony Brook University where I was very lucky to be advised by <a href="https://www3.cs.stonybrook.edu/~rezaul/"> Prof. Rezaul Chowdhury </a> and my Masters <a href="https://www.proquest.com/docview/2321010389?pq-origsite=gscholar&fromopenview=true"> thesis </a> was focussed on <i>reusable resource-allocation problem</i>.
    <br>
    <br>
I am broadly interested in algorithmic fairness for combinatorial problems, particularly in the design and analysis of fair algorithms for a wide variety of classical problems like graph matching, set covering, set packing, and clustering. 
My past research has focused on incorporating probabilistic generalizations of group and individual fairness fairness into combinatorial problems and designing algorithms with provable guarantees. 
    </a> 

<!-- <h3 style="color:Indigo;">Current Research</h3>
<section id="research">
    {% for post in site.posts %} {% if post.research == true %}
    <div class="news-item">
        <div class="date"> {{ post.title | title: "%b&nbsp;%-d" }}</div>
        <div class="content"> {{ post.content }} </div>
    </div>
    {% endif %} {% endfor %}
<section> -->

<h3 style="color:Indigo;">Publications</h3>
<section id="papers">
        {% assign bibs-newest-first = site.bib | reverse %} 
        {% for paper in bibs-newest-first %}
          {% include paper.html paper=paper %}
        {% endfor %}
        <br>
</section>


<h3 style="color:Indigo;">Personal, but work related</h3>
<section id="personal">
    {% for post in site.posts %} {% if post.personal == true %}
    <div class="news-item">
        <div class="date"> {{ post.title | title: "%b&nbsp;%-d" }}</div>
        <div class="content"> {{ post.content }} </div>
    </div>
    {% endif %} {% endfor %}
<section>


