---
layout: default
---
<div class="row align-items-center mt-3 mb-4 ">
    <div class="col-md">
        <img class="img-fluid d-block mx-auto" alt="Sami Davies" title="Sami Davies" src="/assets/theory-headshot.jpg" width="220"
            height="100">
        </div>
        <address class="col-md ">
            <strong>Post-doctoral researcher</strong>
            <br>
            <strong>Northwestern University</strong>
            <br>
                daviess [at] uw.edu
            </a>
            <br>
            <br>
            <p style="color:red;">
            I am not working this summer. If you contact me for review requests or to chat research, I'll likely ghost you &#128123;. Sorry! I'll be back online in October.</p>
    
    </div>
    I am a (soon to be) post-doctoral researcher in <a href = "https://www.ideal.northwestern.edu"> IDEAL</a> at Northwestern University.
    In June, I graduated with my Ph.D. in math from the University of Washington, where I worked between the<a href="https://math.washington.edu">
    Department of Mathematics
    </a> and
    the
    <a href="http://theory.cs.washington.edu"> theory group</a>
     in the Allen School. I was advised by
    <a href = "https://sites.math.washington.edu/~rothvoss/index.html"> Thomas Rothvoss</a>.
    
    <br>
    <br>
    I earned my B.S. from
    <a href="http://www.math.cmu.edu/index.php">
    Carnegie Mellon University
    </a>
    and my M.S. from 
    <a href="https://www.math.uic.edu">
    the University of Illinois at Chicago</a>. 

<h3 style="color:Indigo;">News</h3>


<section id="news">
    {% for post in site.posts %} {% if post.news == true %}
    <div class="news-item">
        <div class="date"> {{ post.date | date: "%b&nbsp;%-d" }} </div>
        <div class="content"> {{ post.content }} </div>
    </div>
    {% endif %} {% endfor %}
</section>

<h3 style="color:Indigo;">Current Research</h3>
<section id="research">
    {% for post in site.posts %} {% if post.research == true %}
    <div class="news-item">
        <div class="date"> {{ post.title | title: "%b&nbsp;%-d" }}</div>
        <div class="content"> {{ post.content }} </div>
    </div>
    {% endif %} {% endfor %}
<section>

<h3 style="color:Indigo;">Papers</h3>
<section id="papers">
        {% assign bibs-newest-first = site.bib | reverse %} 
        {% for paper in bibs-newest-first %}
          {% include paper.html paper=paper %}
        {% endfor %}
        <br>
</section>


<h3 style="color:Indigo;">Personal, but work related</h3>
<section id="personal">
    {% for post in site.posts %} {% if post.personal == true %}
    <div class="news-item">
        <div class="date"> {{ post.title | title: "%b&nbsp;%-d" }}</div>
        <div class="content"> {{ post.content }} </div>
    </div>
    {% endif %} {% endfor %}
<section>


