---
layout: default
---
<div class="row align-items-center mt-3 mb-4 ">
    <div class="col-md">
        <img class="img-fluid d-block mx-auto" alt="Sharmila Duppala" title="Sharmila Duppala" src="/assets/sharmila_board.jpeg" width="220"
            height="100">
        </div>
        <address class="col-md ">
            <strong>PhD Student</strong>
            <br>
            <strong>University of Maryland, College Park</strong>
            <br>
            <br>
                sduppala [at] umd.edu
                <br>
                sduppala [at] cs.umd.edu 
            </a>
            <br>
            <br>
            <p style="color:red;">
    
    </div>
    I am a Ph.D. student in the  <a href="https://www.cs.umd.edu">
    Computer Science </a> department  at the University of Maryland, College Park, where I am fortunate to be co-advised by professors  <a href="https://www.cs.umd.edu/~srin/">Aravind Srinivasan</a> and <a href="http://jpdickerson.com/">John P. Dickerson</a>. Prior to that, I was at the <a href="https://www.cs.stonybrook.edu/"> Computer Science </a> department in Stony Brook University where I was very lucky to be advised by Prof. Rezaul Chowdhury. My <a href="https://www.proquest.com/docview/2321010389?pq-origsite=gscholar&fromopenview=true"> thesis </a> was focussed on <i>reusable resource-allocation problem</i>.

    <br>
    <br>
 My current research spans Randomized Algorithms, Probabilistic Models and Fairness. My interests broadly focus in two directions : <br> 
    <b>(1) Algorithms for online stochastic matching models:</b> 
    Specifically, design and competitive analysis of algorithms under different online stochastic settings like <i>KIID (Known IID distribution arrivals)</i> and <i>Random Order Arrivals</i>.<br>
    <b>(2) Algorithmic fairness in combinatorial optimization:</b>
    Understanding the algorithmic challenges of incorporating "acceptable" and "meaningful" notions of fairness into stochastic and combinatorial optimization problems arising in ride-sharing, internet advertising, crowdsourcing markets, kidney-exchange markets, etc.  Further, I am interested in understanding the merits and limitations of the fairness criteria in providing solutions to the underlying optimization problem. 
    <br>
    <br>
    </a> 

<h3 style="color:Indigo;">News</h3>



<!-- <h3 style="color:Indigo;">Current Research</h3>
<section id="research">
    {% for post in site.posts %} {% if post.research == true %}
    <div class="news-item">
        <div class="date"> {{ post.title | title: "%b&nbsp;%-d" }}</div>
        <div class="content"> {{ post.content }} </div>
    </div>
    {% endif %} {% endfor %}
<section> -->

<h3 style="color:Indigo;">Papers</h3>
<section id="papers">
        {% assign bibs-newest-first = site.bib | reverse %} 
        {% for paper in bibs-newest-first %}
          {% include paper.html paper=paper %}
        {% endfor %}
        <br>
</section>


<h3 style="color:Indigo;">Personal, but work related</h3>
<section id="personal">
    {% for post in site.posts %} {% if post.personal == true %}
    <div class="news-item">
        <div class="date"> {{ post.title | title: "%b&nbsp;%-d" }}</div>
        <div class="content"> {{ post.content }} </div>
    </div>
    {% endif %} {% endfor %}
<section>


